<section class="ui stacked segment">
  <h4 class="ui inverted blue block header">Published Posts</h4>
  #{list items:user.posts.reverse(), as:'post'}
    <h5 class="ui inverted green block header"> ${post.title}</h5>
    <p> 
      ${post.content}:
    </p>
    <form action="/publicblog/leavecomment/${user.id}/${post.id}" method="POST">
    <div class="field">
      <textarea name="commentText" placeholder="Comment"></textarea>
    </div>
    <button class="ui small button teal submit labeled icon"><i class="icon edit"></i> Comment </button>
    #{list items:post.comments.reverse(), as:'comment'}
     <div class="content"></div>
     <p> 
      ${comment.from.firstName}:
    </p>
     <p> 
      ${comment.commentText}
    </p>
     <p> 
      ${comment.date}
    </p>
    </div>
    #{/list}
  </form>
  #{/list}
</section>