<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      <div class="ui item"> 
      #{if user.online ==  true}
        <img src="public/images/online.png">
      #{/if}
      #{else}
        <img src="public/images/offline.png">
      #{/else}
        <i class="user icon"></i>
        <div class="content">
          ${user.firstName} ${user.lastName}: : ${user.statusText}  <a href="members/follow/${user.id}"> (follow) </a> <a href="../publicblog/${user.id}" class="ui tiny blue button">Blog</a> 
        </div>
      </div>
    #{/list}
  </div>
</section>