<section class="ui stacked segment">
  <h4 class="ui inverted red block header"> Status</h4>
  <div class="ui message">
    <p> ${user.statusText} </p>
  </div>
   <section class="ui form segment">
    <form action="/profile/changestatus" method="POST">
      <div class="field">
        <textarea style="margin-top: 0px; margin-bottom: 0px; height: 58px;" name="statusText"></textarea>
      </div>
      <button class="ui button teal submit labeled icon"><i class="icon edit"></i> Update </button>
    </form>
  </section>
</section>  