#{extends 'main.html' /}
#{set title:'Public Profile Page' /}

<nav class="ui inverted menu">
  <div class="left menu">
    <a class="item" href="/home">Home</a></li>
  </div>
</nav> 

<h1 class="ui inverted teal block header" >${user.firstName} ${user.lastName}'s Profile</h1>
<section class="ui  two column grid segment">
  <div class="row">
    <div class="column">
      #{include "components/profilesummary.html" /} 
    </div>
    
    <a href="../publicblog/${user.id}" class="ui blue button">Blog</a>
           
    <div class="column">
      #{include "components/comments.html" /} 
    </div>
  </div>
</section>    
