#{extends 'main.html' /} 
#{set title:'Members' /} 

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a></li>
    <a class="active item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/blog">Blog</a>    
    <a class="item" href="/logout">Logout</a>
    <a class="item" href="/editprofile"><img src="/public/images/whitecog.png"></a>
  </div>
</nav>  

<h1 class="ui inverted teal block header" >Spacebook Members</h1>

#{include "components/members.html" /} 