#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="item" href="/login">  Login   </a>
  </div>
</nav> 

<section class="ui raised segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>

<section class="ui raised segment">
<header class="header item"> Blogs </header>
<section class="ui raised segment">
  <div class="ui list"> 
    #{list items:users, as:'user'}
      #{if user.posts.size() > 0}
      <div class="ui item"> 
      #{if user.online ==  true}
        <img src="public/images/online.png">
      #{/if}
      #{else}
        <img src="public/images/offline.png">
      #{/else}
        <i class="user icon"></i>
        <div class="content">
          ${user.firstName} ${user.lastName}:<a href="../publicblog/${user.id}" class="ui tiny blue button">Blog</a>
        </div>
      </div>
     #{/if}
    #{/list}
  </div>
</section>
</section>